h1 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    color: lightblue;
    font-style: italic;
    font-size: 48px;
}

image {
    height: 150px;
    width: 150px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: darkblue;
}

div {
    margin-top: 30px;
    width: 30px;
    text-align: left;
    color: red;
    font-weight: bolder;
    font-size: 25px;
    font-family: sans-serif;
    font-style: italic;
}